<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<h1>This page will individual ads</h1>
<br>
<!--<div th:each="post : ${post}">-->
    <h3 th:text="${user.email}"></h3>
    <h3 th:text="${post.id}"></h3>
    <h1>Title: <span th:text="${post.title}"></span></h1>
    <h3>Body: <span th:text="${post.body}"></span></h3>
    <a th:href="@{/posts/{id}/edit(id=${post.id})}">Click here to edit this post.</a>
<!--</div>-->

</body>
</html>